<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191387731381-u2p4g2mq6lanctr8spijrhpuqb050r7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191387731381-u2p4g2mq6lanctr8spijrhpuqb050r7m</string>
	<key>API_KEY</key>
	<string>AIzaSyADO3R31nNoCfh2b1dx8eVg5JwuT9e0-98</string>
	<key>GCM_SENDER_ID</key>
	<string>191387731381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.survey</string>
	<key>PROJECT_ID</key>
	<string>survey-edc5a</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-edc5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191387731381:ios:6d6d1f3adf800f4f0c05fc</string>
</dict>
</plist>